name: Hugo Deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v0.102.0
        with:
          hugo-version: '0.154.3'
          extended: true

      - name: Build site
        run: hugo --minify --config config_prod.toml

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
